folium==0.18.0
geopandas==1.0.1
numpy==1.26.4
pandas==2.2.2
requests
plotly
streamlit-folium
openpyxl
streamlit_option_menu
brazilcep
geopy
sqlalchemy
mysql-connector-python
streamlit_js_eval
